{% extends "admin/base.html" %}
{% set snactive = "orgs" %}

{% block title %}Administration: Organizations{% endblock %}

{% block container %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a data-toggle="tab" href="#explore">
      <i class="fa fa-fw fa-sitemap"></i>
      Explore
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#schemas">
      <i class="fa fa-fw fa-book"></i>
      Schemas
    </a>
  </li>
</ul>
<div class="tab-content">
  <div id="explore" class="tab-pane fade in active">
    <div class="explore-items" style="width:80%;height:100%;float:left">
      <div id="toolbar-org-items">
	<button id="org-item-add" type="button"
		class="btn btn-default"
		aria-haspopup="true"
		aria-expanded="false">
	  <i class="fa fa-fw fa-plus"></i>
	</button>
	<button id="org-item-save" type="button"
		class="btn btn-primary"
		aria-haspopup="true"
		aria-expanded="false">
	  <i class="fa fa-fw fa-save"></i>
	</button>
	<button id="org-item-dalete" type="button"
		class="btn btn-danger"
		aria-haspopup="true"
		aria-expanded="false">
	  <i class="fa fa-fw fa-trash-alt"></i>
	</button>
	<button id="org-item-import" type="button"
		class="btn btn-warning"
		aria-haspopup="true"
		aria-expanded="false">
	  <i class="fas fa-fw fa-upload"></i>
	</button>
	<button id="org-item-export" type="button"
		class="btn btn-info"
		aria-haspopup="true"
		aria-expanded="false">
	  <i class="fas fa-fw fa-download"></i>
	</button>
      </div>
      <table id="table-org-items"
             data-show-toggle="false" data-show-export="false"
             data-show-columns="false"
	     data-toolbar="#toolbar-org-items"
             data-sort-name="attribute" data-pagination="false"
             data-toggle="table" data-search="false"
             data-show-footer="false" data-page-size="100"
             data-escape="false" data-side-pagination="server"
	     data-show-refresh="false" data-row-style="rowStyle"
	     class="table table-hover table-striped table-compact 
		    table-condensed table-autosize">
	<thead>
	  <tr>
	    <th data-field="key" data-valign="middle"
		data-align="left" data-sortable="false">
	      <i class="fa fa-fw fa-sort-alpha-down"></i>
	      Attribute
	    </th>
	    <th data-field="value" data-valign="middle"
		data-align="left" data-sortable="false">
	      <i class="fa fa-fw fa-info"></i>
	      Value
	    </th>
	  </tr>
	</thead>
	<tbody></tbody>
      </table>
    </div>
    <div class="explore-treeview" style="width:20%;height:100%;float:right">
      <div id="treeview-org" style="padding: 2% 0% 0% 2%;overflow-y:auto;height:100%;width:100%"></div>
    </div>
  </div>
  <div id="schemas" class="tab-pane fade">
    <div id="toolbar-backend">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalBackend" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-plus fa-fw"></i>
      </button>
    </div>
    <table id="table-backends" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="display" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-backend"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-field="select" data-visible="true"
	      data-checkbox="true">
	    <i class="fa fa-fw fa-check-square"></i>
	  </th>
	  <th data-valign="middle" data-visible="false">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-field="name" data-halign="center">
	    <i class="fa fa-fw fa-database"></i>
	    Name
	  </th>
	  <th data-halign="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Type
	  </th>
	  <th data-align="center">
	    <i class="fa fa-server fa-fw"></i>
	    Host
	  </th>
	  <th data-align="center">
	    <i class="fa fa-users fa-fw"></i>
	    Users
	  </th>
	  <th data-valign="middle" data-align="center" data-field="actions">
	    <i class="fa fa-fw fa-user-cog"></i>
	  </th>	  
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block modals %}
{% include "admin/users/modals/backend.html" %}
{% include "admin/users/modals/user.html" %}
{% include "admin/users/modals/user_import.html" %}
{% endblock %}

{% block scripts%}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<link  href="//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css" rel="stylesheet">

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/css/bootstrap-table.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/js/bootstrap-table.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-treeview/1.2.0/css/bootstrap-treeview.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-treeview/1.2.0/js/bootstrap-treeview.js"></script>

<script>
$(document).ready(function () {
    autosize_tables();
    $(window).resize(function () {
	autosize_tables();
    });
    $('.modal').on('hidden.bs.modal', function(){
	$('.modal').find('.modal-title').html('New');
	var forms = $(this).find('form');
	forms.each(function(row){
	    forms[row].reset();
	});
	var selectpickers = $(this).find('.selectpicker');
	selectpickers.each(function(row){
	    $(selectpickers[row]).selectpicker('refresh');
	});
    });
    $(".nav-tabs a[data-toggle=tab]").on("click", function(e) {
	if ($(this).parent().hasClass("disabled")) {
	    e.preventDefault();
	    return false;
	}
    });
    jqlisteners();
    getTree();
});

{% include "admin/users/modals/backend.js" %}
{% include "admin/users/modals/user.js" %}
{% include "admin/users/modals/user_import.js" %}

function getTree() {
    $.ajax({
	url: "{{ url_for('api_backends_tree') }}?backend=1&type=items",
	type: 'GET',
	contentType: "application/json",
	success: function(e) {
	    var get_tree = function(item) {
		var data = []
		if (item.children) {
		    for (child in item.children) {
			data.push(get_tree(item.children[child]));
		    }
		} else {
		    info = {text: item.name}
		    if (item.name.startsWith("dc=")) {
			info['icon'] = 'fa fa-fw fa-book'
		    } else if (item.name.startsWith("ou=")) {
			info['icon'] = 'fa fa-fw fa-cubes'
		    } else {
			info['icon'] = 'fa fa-fw fa-cube'
		    }
		    return info
		}
		info = { text: item.name, nodes: data, tags: [ data.length ] }
		if (item.name.startsWith("dc=")) {
		    info['icon'] = 'fa fa-fw fa-book'
		} else if (item.name.startsWith("ou=")) {
		    info['icon'] = 'fa fa-fw fa-cubes'
		} else {
		    info['icon'] = 'fa fa-fw fa-cube'
		}
		return info
	    };
	    $('#treeview-org').treeview({
		data: [get_tree(e['data'])],
		showTags: true,
	    });
	    $('#treeview-org').on('nodeSelected', function(event, data) {
		var get_path = function(nodeid) {
		    var data = []
		    var node = $('#treeview-org').treeview('getNode', nodeid);
		    if (typeof node.parentId !== "undefined") {
			data.push(get_path(node['parentId']));
		    } else {
			return node['text'];
		    }
		    data.push(node['text']);
		    data.reverse();
		    return data.join(',');
		};
		console.log(event, data);
		var dn = get_path(data['nodeId']);
		var table = '#table-org-items';
		$(table).bootstrapTable('removeAll');
		$(table).bootstrapTable('showLoading');
		$(table).parent().addClass('table-loading');
		$.ajax({
		    url: "{{ url_for('api_backends_search') }}?backend=1&type=items&dn=" + dn,
		    type: 'GET',
		    contentType: "application/json",
		    success: function(e) {
			// var data = e['data'];
			// for (user in data) {
			//     for (key in data[user]) {
			// 	if (key != 'backend') {
			// 	    for (value in data[user][key]) {
			// 		$(table).bootstrapTable('append', {
			// 		    'key': key,
			// 		    'value': data[user][key][value],
			// 		});
			// 	    };
			// 	};
			//     };
			// };
			$(table).parent().removeClass('table-loading');
			$(table).bootstrapTable('hideLoading');
		    },
		    error: function(e) {
			$(table).parent().removeClass('table-loading');
			$(table).bootstrapTable('hideLoading');
		    }
		});
	    });
	}
    });    
};

function jqlisteners() {
    jqlisteners_modal_user();
    jqlisteners_modal_backend();
};
</script>
{% endblock %}
