{% extends "admin/base.html" %}
{% block title %}Administration: Users{% endblock %}
{% set snactive = "users" %}

{% block container %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a data-toggle="tab" href="#users">
      <i class="fa fa-fw fa-user"></i>
      Users
    </a>
  </li>
  <li class="disabled">
    <a data-toggle="tab" href="#groups">
      <i class="fa fa-fw fa-users"></i>
      Groups
    </a>
  </li>
  <li class="disabled">
    <a data-toggle="tab" href="#roles">
      <i class="fa fa-fw fa-user-shield"></i>
      Roles
    </a>
  </li>
</ul>
<div class="tab-content">
  <div id="users" class="tab-pane fade in active">
    <div id="toolbar-user">
      <button class="btn btn-primary" type="button"
	      id="user-add" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-plus"></i>
      </button>      
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalUserImport" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-search-plus"></i>
      </button>      
    </div>
    <table id="table-users"
	   data-toolbar="#toolbar-user"
           data-show-toggle="false" data-show-export="false"
           data-show-columns="false" data-show-multi-sort="true"
           data-sort-name="displayname" data-pagination="true"
           data-toggle="table" data-search="true"
           data-show-footer="false" data-page-size="50"
           data-escape="false" data-side-pagination="server"
	   data-query-params="UsersParams" 
	   data-show-refresh="true" data-row-style="rowStyle"
	   data-url="{{ url_for('api_users_all') }}?"
	   data-response-handler="UsersResponseHandler"
	   class="table table-hover table-striped table-compact 
		  table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-field="select" data-visible="true"
	      data-checkbox="true">
	    <i class="fa fa-fw fa-check-square"></i>
	  </th>
	  <th data-valign="middle" data-visible="false" data-field="id">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-valign="middle" data-field="displayname" data-halign="center"
	      data-sortable="true" data-formatter="UsersFormatterName">
	    <i class="fa fa-fw fa-user"></i>
	    Name
	  </th>
	  <th data-valign="middle" data-field="email" data-sortable="true" data-halign="center">
	    <i class="fa fa-envelope fa-fw"></i>
	    Email
	  </th>
	  <th data-valign="middle" data-align="center" data-field="last_seen"
	      data-halign="center" data-sortable="true" data-formatter="UsersFormatterDateAgo">
	    <i class="fa fa-calendar fa-fw"></i>
	    Last seen
	  </th>
	  <th data-valign="middle" data-align="center" data-field="backend"
	      data-sortable="true" data-formatter="UsersFormatterBackend">
	    <i class="fa fa-database fa-fw"></i>
	    Backend
	  </th>
	  <th data-valign="middle" data-align="center" data-field="actions"
	      data-formatter="UsersFormatterActions">
	    <i class="fa fa-fw fa-user-cog"></i>
	  </th>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="groups" class="tab-pane fade in">
    <div id="toolbar-group">
      <button class="btn btn-primary" type="button"
	      id="group-add" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-plus"></i>
      </button>      
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalGroupImport" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-search-plus"></i>
      </button>      
    </div>
    <table id="table-groups"
	   data-toolbar="#toolbar-group"
           data-show-toggle="false" data-show-export="false"
           data-show-columns="false" data-show-multi-sort="true"
           data-sort-name="displayname" data-pagination="true"
           data-toggle="table" data-search="true"
           data-show-footer="false" data-page-size="50"
           data-escape="false" data-side-pagination="server"
	   data-show-refresh="true" data-row-style="rowStyle"
	   class="table table-hover table-striped table-compact 
		  table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-field="select" data-visible="true"
	      data-checkbox="true">
	    <i class="fa fa-fw fa-check-square"></i>
	  </th>
	  <th data-valign="middle" data-visible="false" data-field="id">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-valign="middle" data-field="displayname"
	      data-sortable="true" data-halign="center">
	    <i class="fa fa-fw fa-users"></i>
	    Name
	  </th>
	  <th data-valign="middle" data-align="center" data-field="backend"
	      data-sortable="true">
	    <i class="fa fa-database fa-fw"></i>
	    Backend
	  </th>
	  <th data-align="center">
	    <i class="fa fa-users fa-fw"></i>
	    Users
	  </th>	  
	  <th data-valign="middle" data-align="center" data-field="actions">
	    <i class="fa fa-fw fa-user-cog"></i>
	  </th>
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="roles" class="tab-pane fade">
    <div id="toolbar-roles">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalRole" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-plus fa-fw"></i>
      </button>
    </div>
    <table id="table-roles" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="display" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-roles"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-field="select" data-visible="true"
	      data-checkbox="true">
	    <i class="fa fa-fw fa-check-square"></i>
	  </th>
	  <th data-valign="middle" data-visible="false">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-field="name" data-halign="center">
	    <i class="fa fa-fw fa-database"></i>
	    Name
	  </th>
	  <th data-halign="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Type
	  </th>
	  <th data-align="center">
	    <i class="fa fa-server fa-fw"></i>
	    Host
	  </th>
	  <th data-align="center">
	    <i class="fa fa-users fa-fw"></i>
	    Users
	  </th>
	  <th data-valign="middle" data-align="center" data-field="actions">
	    <i class="fa fa-fw fa-user-cog"></i>
	  </th>	  
	</tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block modals %}
{% include "admin/users/modals/user.html" %}
{% include "admin/users/modals/user_import.html" %}
{% endblock %}

{% block scripts%}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/flag-icon-css/3.2.1/css/flag-icon.min.css" rel="stylesheet">

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/css/bootstrap-table.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/js/bootstrap-table.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>
{% include "admin/users/index.js" %}
{% include "admin/users/modals/user.js" %}
{% include "admin/users/modals/user_import.js" %}

function jqlisteners() {
    jqlisteners_users();
    jqlisteners_modal_user();
};
</script>
{% endblock %}
