{% extends "admin.html" %}
{% set snactive = "users" %}

{% block title %}Administration - Users{% endblock %}

{% block container %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a data-toggle="tab" href="#users">
      <i class="fa fa-users fa-fw"></i>
      Users
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#backends">
      <i class="fa fa-globe fa-fw"></i>
      Backends
    </a>
  </li>
</ul>
<div class="tab-content">
  <div id="users" class="tab-pane fade in active">
    <div id="toolbar-user">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalUserImport" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-fw fa-search-plus"></i>
      </button>      
    </div>
    <table id="table-users" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="name" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-user"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact 
		  table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-valign="middle" data-visible="false">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-valign="middle" data-field="name"
	      data-sortable="true" data-formatter="FormatDisplayName">
	    <i class="fa fa-sort-amount-desc fa-fw"></i>
	    Name
	  </th>
	  <th data-valign="middle" data-field="email">
	    <i class="fa fa-envelope fa-fw"></i>
	    Email
	  </th>
	  <th data-valign="middle" data-align="center" data-field="backend">
	    <i class="fa fa-database fa-fw"></i>
	    Backend
	  </th>
	  <th data-valign="middle" data-align="right" data-halign="center">
	    <i class="fa fa-calendar fa-fw"></i>
	    Created on
	  </th>
	  <th data-valign="middle" data-align="right" data-halign="center">
	    <i class="fa fa-calendar fa-fw"></i>
	    Last seen
	  </th>
	  <th data-valign="middle" data-align="center">
	    <i class="fa fa-cogs fa-fw"></i>
	    Actions
	  </th>
	</tr>
      </thead>
      <tbody>	
	{% for user in data('User') %}
	<tr>
	  <td>{{ user.id }}</td>
	  <td data-avatar="{{ user.avatar(48) }}">
	    {{ user.lastname }}, {{ user.firstname }}
	  </td>
	  <td>{{ user.email }}</td>
	  <td>
	    {{ user.backend.name if user.backend != None else 'Local' }}
	  </td>
	  <td>{{ ago(user.created_at) }}</td>
	  <td>
	    {{ ago(user.last_seen) if user.last_seen != None else 'Never' }}
	  </td>
	  <td>
	    <a class="user-open" target="_blank"
	       href="{{ url_for('profile', userid=user.id) }}">
	      <i class="fa fa-fw fa-info-circle"></i>
	    </a>
	    <a class="user-edit" data-id="{{ user.id }}">
	      <i class="fa fa-fw fa-pencil"></i>
	    </a>
	    <a class="user-admin" data-id="{{ user.id }}">
	      {% if user.admin %}
	      <i class="fa fa-fw fa-user-secret"></i>
	      {% else %}
	      <i class="fa fa-fw fa-user"></i>
	      {% endif %}
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div id="backends" class="tab-pane fade">
    <div id="toolbar-backend">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalBackend" aria-haspopup="true"
	      aria-expanded="false">
	<i class="fa fa-plus fa-fw"></i>
      </button>
    </div>
    <table id="table-backends" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="display" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-backend"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-valign="middle" data-visible="false">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-field="name">
	    <i class="fa fa-sort-amount-desc fa-fw"></i>
	    Name
	  </th>
	  <th data-halign="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Type
	  </th>
	  <th data-align="center">
	    <i class="fa fa-server fa-fw"></i>
	    Host
	  </th>
	  <th data-align="center">
	    <i class="fa fa-users fa-fw"></i>
	    Users
	  </th>
	</tr>
      </thead>
      <tbody>
	{% for backend in data('Backend') %}
	<tr class="backend-edit" data-id="{{ backend.id }}">
	  <td>{{ backend.id }}</td>
	  <td>
	    <i class="fa fa-fw fa-shield"></i>
	    {{ backend.name }}
	  </td>
	  <td>
	    {% if backend.type == 'AD' %}
	    <i class="fa fa-windows fa-fw"></i>
	    Active Directory
	    {% elif backend.type == 'LDAP' %}
	    <i class="fa fa-book fa-fw"></i>
	    {{ backend.type }}
	    {% else %}
	    <i class="fa fa-globe fa-fw"></i>
	    {% endif %}
	  </td>
	  <td>{{ backend.host }}</td>
	  <td>{{ backend.users.count() }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block modals %}
{% include "admin/users/modals/backend.html" %}
{% include "admin/users/modals/user.html" %}
{% include "admin/users/modals/user_import.html" %}
{% endblock %}

{% block scripts%}
<link  href="{{ config['CDN_EXTRAS'] }}/extras/bootstrap-table/1.11.1/css/bootstrap-table.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/extras/bootstrap-table/1.11.1/js/bootstrap-table.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/extras/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/extras/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script>
$(document).ready(function () {
    autosize_tables();
    $(window).resize(function () {
	autosize_tables();
    });
    $('.modal').on('hidden.bs.modal', function(){
	$('.modal').find('.modal-title').html('New');
	var forms = $(this).find('form');
	forms.each(function(row){
	    forms[row].reset();
	});
	var selectpickers = $(this).find('.selectpicker');
	selectpickers.each(function(row){
	    $(selectpickers[row]).selectpicker('refresh');
	});
    });
    jqlisteners();
});
var USER_FOUND = [];
function user_search() {
    var mail = document.forms["toolbar-user-search"]["mail"].value;
    var url = "{{ url_for('api_search_users') }}?email=*" + mail + "*&exist=false"
    $.ajax({
    	async: true,
    	url: url,
    	type: 'GET',
    	success: function(e) {
	    USER_FOUND = e['users'];
	    var table = '#table-users-search';
	    $(table).bootstrapTable('showLoading');
	    $(table).bootstrapTable('removeAll');
	    for(i in e['users']) {
		var user = e['users'][i];
		html = '<a class="user-import" data-id="' + i + '">';
                html+= '<i class="fa fa-fw fa-plus"></i>';
                html+= '</a>';
		$(table).bootstrapTable('append', {
		    'name': user['lastname'] + ', ' + user['firstname'],
		    'email': user['email'],
		    'backend': user['backend']['name'],
		    'actions': html,
		});
	    };
	    $(table).bootstrapTable('hideLoading');
    	}
    });
    return false;
}
function jqlisteners() {
    $(".user-import").unbind();
    $(".user-import").click(function(e) {
	e.preventDefault();
	var user = USER_FOUND[$(this).data('id')];
	var url = "{{ url_for('api_users') }}?email=" +user['email'];
	$.ajax({
	    async: true,
	    url: url,
	    type: 'POST',
	    data: JSON.stringify({
		'email': user['email'],
		'firstname': user['firstname'],
		'lastname': user['lastname'],
		'mobile': user['mobile'],
		'mailrecovery': user['mailrecovery'],
		'backend': user['backend']['id'],
		'admin': false,
	    }),
	    contentType: "application/json",
	    success: function(e) {
		var listdel = {'field': 'email', 'values': [user['email']] };
		$('#table-users-search').bootstrapTable('remove', listdel);
	    }
	});
    });
    $(".backend-edit").unbind();
    $(".backend-edit").click(function(e) {
	e.preventDefault();
	var modal = '#ModalBackend';
	var backend = $(this).data('id');
	var url = "{{ url_for('api_backends') }}?id=" + backend;
	$.ajax({
	    async: true,
	    url: url,
	    type: 'GET',
	    success: function(e) {
		$(modal).find('.modal-title').html(e['backends'][0]['name']);
		$(modal).find('#backend_id').val(e['backends'][0]['id']);
		$(modal).find('#name').val(e['backends'][0]['name']);
		$(modal).find('#type').selectpicker('val', e['backends'][0]['type']);
		$(modal).find('#host').val(e['backends'][0]['host']);
		$(modal).find('#timeout').val(e['backends'][0]['timeout']);
		$(modal).find('#account').val(e['backends'][0]['binddn']);
		$(modal).find('#password').val(e['backends'][0]['bindpw']);
		$(modal).find('#search').val(e['backends'][0]['basedn']);
		$(modal).find('#filter').val(e['backends'][0]['filter']);
		$(modal).modal('show');
	    }
	});
    });
    $(".user-edit").unbind();
    $(".user-edit").click(function(e){
	e.preventDefault();
	var modal = '#ModalUser';
	var userid = $(this).data('id');
	var url = "{{ url_for('api_users') }}?id=" + userid;
	$.ajax({
	    async: true,
	    url: url,
	    type: 'GET',
	    success: function(e) {
		var data = e['users'][0];
		var profile = '{{ url_for("profile") }}/' + data['id'];
		var display = data['lastname'] + ', ' + data['firstname'];
		$(modal).find('.modal-title').html(display);
		$(modal).find('#avatar').attr('src', data['avatar']);
		$(modal).find('#userid').val(data['id']);
		$(modal).find('#email').val(data['email']);
		$(modal).find('#recovery').val(data['mailrecovery']);
		$(modal).find('#mobile').val(data['mobile']);
		$(modal).find('#user-profile').attr('href', profile);
		$(modal).find('#genre').selectpicker('val',data['genre'])
		var url = "{{ url_for('api_backends') }}";
		$.ajax({
		    async: true,
		    url: url,
		    type: 'GET',
		    success: function(e2) {
			var backends = e2['backends']
			if (data['backend']) {
			    html = '<option value="0">Local</option>'
			} else {
			    html = '<option value="0" selected="selected">Local</option>'
			}
			for(i in backends) {
			    if (data['backend'] == backends[i]['id']) {
				html += '<option selected="selected" '
				html += 'value="' + backends[i]['id'] + '">';
				html += backends[i]['name'] +'</option>';
			    } else {
				html += '<option value="' + backends[i]['id'];
				html += '">' + backends[i]['name'] + '</option>';
			    }
			}
			$(modal).find('#backends').html(html);
			$(modal).find('#backends').selectpicker('refresh');
		    }
		});
		$(modal).modal('show');
	    }
	});
    });
    $(".user-admin").unbind();
    $(".user-admin").click(function(e){
	e.preventDefault();
    	var i_tag = $(this).find('i');
	if ( ! i_tag.hasClass("fa-spinner") ) {
	    var userid = $(this).data('id');
	    var url = "{{ url_for('api_users') }}?id=" + userid;
	    if (i_tag.hasClass('fa-user-secret')) {
		var active = false;
		i_tag.removeClass('fa-user-secret');
		i_tag.addClass('fa-spinner fa-pulse');
	    } else {
		var active = true;
		i_tag.removeClass('fa-user');
		i_tag.addClass('fa-spinner fa-pulse');
	    };
	    $.ajax({
		async: true,
		url: url,
		type: 'POST',
		data: JSON.stringify({'admin': active}),
		contentType: "application/json",
		success: function(e) {
		    i_tag.removeClass('fa-spinner fa-pulse');
		    if (active == true) {
			i_tag.addClass('fa-user-secret');
		    } else {
			i_tag.addClass('fa-user');	    
		    };
		}
	    });
	};
    });
    $("#update-backend").unbind();
    $("#update-backend").click(function(){
	var modal = '#ModalBackend';
	var id = $(modal).find('#backend_id').val();
	console.log(id);
	if ( typeof id === 'undefined' || id === null) {
	    var url = "{{ url_for('api_backends') }}";
	} else {
	    var url = "{{ url_for('api_backends') }}?id=" + id;
	}
	$.ajax({
	    async: false,
	    url: url,
	    type: 'POST',
	    data: JSON.stringify(
		{'name': $(modal).find('#name').val(),
		 'host': $(modal).find('#host').val(),
		 'type': $(modal).find('#type').val(),
		 'timeout':$(modal).find('#timeout').val(),
		 'binddn':$(modal).find('#account').val(),
		 'bindpw':$(modal).find('#password').val(),
		 'basedn':$(modal).find('#search').val(),
		 'filter':$(modal).find('#filter').val(),
		}
	    ),
	    contentType: "application/json",
	    success: function(e) {
		$(modal).modal('hide');
	    }
	});
    });
    $("#update-user").unbind();
    $("#update-user").click(function() {
	var modal = '#ModalUser';
	var userid = $(modal).find('#userid').val();
	var mailrecovery = $(modal).find('#recovery').val();
	var mobile = $(modal).find('#mobile').val();
	var genre = $(modal).find('#genre').val();
	var backend = $(modal).find('#backends').val();
	var url = "{{ url_for('api_users') }}?id=" + userid;
	$.ajax({
	    async: false,
	    url: url,
	    type: 'POST',
	    data: JSON.stringify({'mailrecovery': mailrecovery,
				  'mobile': mobile, 'genre': genre,
				  'backend': backend}),
	    contentType: "application/json",
	    success: function(e) {
		$(modal).modal('hide');
	    }
	});	    
    });
}
function autosize_tables() {
    var tables = $('body').find(".table-autosize");
    tables.each(function(row){
	var selector = $(tables[row]).attr('id');
	selector = '#' + selector;
	$(selector).on('post-body.bs.table', function () {
	    jqlisteners();
	});
	$(selector).bootstrapTable({
	    height: table_height(selector),
	});
	$(selector).bootstrapTable('resetView', {
	    height: table_height(selector),
	});	    
    });
}
function table_height(table) {
    var parent = $(table).parent().parent().parent().parent();
    return parent.height();
};
function FormatDisplayName(value, row, index) {
    html = '<img class="img-circle fa fa-fw" '
    html+= 'src="' + row['_name_data']['avatar'] + '"/>'
    html+= value
    return html;
}
</script>
{% endblock %}
