{% extends "admin/base.html" %}
{% block title %}Administration: Notifications{% endblock %}
{% set snactive = "notifications" %}

{% block container %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active">
    <a data-toggle="tab" href="#notify-profiles">
      <i class="fa fa-fw fa-shield-alt"></i>
      Profiles
    </a>
  </li>
  <li>
    <a data-toggle="tab" href="#notify-agents">
      <i class="fa fa-bullhorn fa-fw"></i>
      Agents
    </a>
  </li>
</ul>
<div class="tab-content">
  <div id="notify-profiles" class="tab-pane fade in active">
    <div id="toolbar-notify-profiles">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#AddNotifyProfile"
	      aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-plus fa-fw"></i>
      </button>      
    </div>
    <table id="table-notify-profiles" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="display" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-notify-profiles"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-valign="middle" data-visible="false">
	    <i class="fa fa-key fa-fw"></i>
	    ID
	  </th>
	  <th data-valign="middle" data-field="name">
	    <i class="fa fa-sort-amount-desc fa-fw"></i>
	    Name
	  </th>
	  <th data-halign="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Type
	  </th>
	  <th data-halign="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Policy
	  </th>
	  <th data-valign="middle">
	    <i class="fa fa-calendar fa-fw"></i>
	    Created on
	  </th>
	  <th data-valign="middle">
	    <i class="fa fa-calendar fa-fw"></i>
	    Agents
	  </th>
	  <th data-valign="middle" data-align="center">
	    <i class="fa fa-cogs fa-fw"></i>
	    Actions
	  </th>
	</tr>
      </thead>
      <tbody>	
	<tr>
	  <td>-</td>
	  <td>-</td>
	  <td>-</td>
	  <td>-</td>
	  <td>-</td>
	  <td>-</td>
	  <td>
	    <a class="edit-notify-profile" data-id="1">
	      <i class="fa fa-fw fa-pencil"></i>
	    </a>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
  <div id="notify-agents" class="tab-pane fade">
    <div id="toolbar-notify-agents">
      <button class="btn btn-default" type="button" data-toggle="modal"
	      data-target="#ModalNotifyAgent"
	      aria-haspopup="true" aria-expanded="false">
	<i class="fa fa-plus fa-fw"></i>
      </button>
    </div>
    <table id="table-notify-agents" data-show-toggle="false"
	   data-show-export="false"
	   data-show-columns="true" data-show-multi-sort="true"
	   data-sort-name="display" data-pagination="true"
	   data-toggle="table" data-search="true"
	   data-toolbar="#toolbar-notify-agents"
	   data-show-footer="false" data-page-size="50" data-escape="false"
	   class="table table-hover table-striped table-compact table-condensed table-autosize">
      <thead>
	<tr>
	  <th data-field="name" data-visible="false">
	    <i class="fa fa-sort-amount-desc fa-fw"></i>
	    ID
	  </th>
	  <th data-align="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Name
	  </th>
	  <th data-align="center">
	    <i class="fa fa-filter fa-fw"></i>
	    Type
	  </th>
	  <th data-align="center">
	    <i class="fa fa-calendar fa-fw"></i>
	    Last sync
	  </th>
	  <th data-align="center">
	    <i class="fa fa-server fa-fw"></i>
	    Host
	  </th>
	  <th data-align="center">
	    <i class="fa fa-users fa-fw"></i>
	    Key
	  </th>
	</tr>
      </thead>
      <tbody>
	{% for agent in data('NotifyAgent') %}
	<tr class="edit-notify-agent" data-id="{{ agent.id }}">
	  <td>{{ agent.id }}</td>
	  <td>{{ agent.name }}</td>
	  <td>{{ agent.type }}</td>
	  <td>{{ ago(agent.last_seen) }}</td>
	  <td>{{ agent.host}}</td>
	  <td>{{ agent.key }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div id="ModalNotifyAgent" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-vcenter">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header"
	     style="background-color: #337ab7; color: #fff;">
	  <button type="button" class="close"
		  data-dismiss="modal" aria-hidden="true">
	    &times;
	  </button>
	  <h4 class="modal-title">New</h4>
	</div>
	<div class="modal-body">
	  <form role="form" method="POST">
	    <fieldset id="fieldset">
	      <input class="form-control-static hidden" id="id">
	      <div class="row col-md-12">
		<div class="col-md-6 form-group">
		  <label for="name">Name</label>
		  <div class="input-group">
		    <input type="text" class="form-control"
			   id="name" name="name" placeholder="Name">
		  </div>
		</div>
		<div class="col-md-6 form-group">
		  <label for="backend">Type</label>
		  <div class="input-group">
		    <select class="selectpicker show-tick"
			    id="type" name="type" title="...">
		      <option value="SMS" data-icon="fa fa-fw fa-mobile"
			      data-tokens="SMS">
			SMS
		      </option>
		      <option value="Email" data-icon="fa fa-fw fa-envelope-o"
			      data-tokens="Email">
			Email
		      </option>
		    </select>
		  </div>
		</div>
	      </div>
	      <div class="row col-md-12">
		<div class="col-md-6 form-group">
		  <label for="host">Host</label>
		  <div class="input-group">
		    <input type="text" class="form-control"
			   id="host" name="host"
			   placeholder="Host">
		  </div>
		</div>
		<div class="col-md-6 form-group">
		  <label for="host">Key</label>
		  <div class="input-group">
		    <input type="text" class="form-control"
			   id="key" name="key"
			   placeholder="Secret Key">
		  </div>
		</div>
	      </div>
	    </fieldset>
	  </form>
	</div>
	<div class="modal-footer">
	  <div class="pull-right">
	    <button type="button" class="btn btn-default"
		    data-dismiss="modal">
	      Close
	    </button>
	    <button type="button" class="btn btn-primary"
		    id="update-backend">
	      Save
	    </button>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block scripts%}
<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/css/bootstrap-table.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-table/1.11.1/js/bootstrap-table.js"></script>

<link  href="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{{ config['CDN_EXTRAS'] }}/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script>
    $(document).ready(function () {
	autosize_tables();
	$(window).resize(function () {
	    autosize_tables();
	});
	$('.modal').on('hidden.bs.modal', function(){
	    $('.modal').find('.modal-title').html('New');
	    var forms = $(this).find('form');
	    forms.each(function(row){
		forms[row].reset();
	    });
	    var selectpickers = $(this).find('.selectpicker');
	    selectpickers.each(function(row){
		$(selectpickers[row]).selectpicker('refresh');
	    });
	});
	jqlisteners();
    });

function jqlisteners() {
    $(".edit-notify-agent").click(function(e) {
	e.preventDefault();
	var agent = $(this).data('id');
	var url = "{{ url_for('api_notify_agents') }}?id=" + agent;
	$.ajax({
	    async: true,
	    url: url,
	    type: 'GET',
	    success: function(e) {
		$("#ModalNotifyAgent").find(".modal-title").html(e['data'][0]['name']);
		$('#ModalNotifyAgent').find('#id').val(e['data'][0]['id']);
		$('#ModalNotifyAgent').find('#name').val(e['data'][0]['name']);
		$('#ModalNotifyAgent').find('#type').selectpicker('val', e['data'][0]['type']);
		$('#ModalNotifyAgent').find('#host').val(e['data'][0]['host']);
		$('#ModalNotifyAgent').find('#key').val(e['data'][0]['key']);
		$('#ModalNotifyAgent').modal('show');
	    }
	});
    });
};
function autosize_tables() {
    var tables = $('body').find(".table-autosize");
    tables.each(function(row){
	var selector = $(tables[row]).attr('id');
	selector = '#' + selector;
	$(selector).on('post-body.bs.table', function () {
	    jqlisteners();
	});
	$(selector).bootstrapTable({
	    height: table_height(selector),
	});
	$(selector).bootstrapTable('resetView', {
	    height: table_height(selector),
	});	    
    });
};
function table_height(table) {
    var parent = $(table).parent().parent().parent().parent();
    return parent.height();
};
</script>
{% endblock %}
