{% extends "base.html" %}
{% block title %}Administration{% endblock %}

{% block body %}
<div id="admin">
  {% set snactive = snactive|default('d') -%}
  <div class="sidebar">
    <h3>Menu</h3>
    <ul class="sidebar-nav nav nav-pills nav-stacked">
      <li{% if snactive == 'overview' %} class="active"{% endif %}>
	<a href="{{ url_for('admin') }}">
	  <i class="fa fa-fw fa-chart-pie"></i>
	  Overview
	</a>
      </li>
      <li{% if snactive == 'applications' %} class="active"{% endif %}>
	<a href="{{ url_for('admin', mod='applications') }}">
	  <i class="fa fa-fw fa-cogs"></i>
	  Applications
	</a>
      </li>
      <li{% if snactive == 'notifications' %} class="active"{% endif %}>
	<a href="{{ url_for('admin', mod='notifications') }}">
	  <i class="fa fa-fw fa-bell"></i>
	  Notifications
	</a>
      </li>
      <li{% if snactive == 'users' %} class="active"{% endif %}>
	<a href="{{ url_for('admin', mod='users') }}">
	  <i class="fa fa-fw fa-users"></i>
	  Users
	</a>
      </li>
      <li{% if snactive == 'organizations' %} class="active"{% endif %}>
	<a href="{{ url_for('admin', mod='organizations') }}">
	  <i class="fa fa-fw fa-sitemap"></i>
	  Organizations
	</a>
      </li>      
      <li{% if snactive == 'security' %} class="active"{% endif %}>
	<a href="{{ url_for('admin', mod='security') }}">
	  <i class="fa fa-fw fa-shield-alt"></i>
	  Security
	</a>
      </li>
    </ul>
  </div>
  <div class="content">
    {% block container %}
    {% endblock %}
  </div>
</div>
{% endblock %}
