/* GENERAL PREFERENCES */
::-webkit-scrollbar {
    width: 0.2em;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid grey;
}
.table-nowrap {
    table-layout:fixed;
}
.table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* .modal-footer .pull-left, */
/* .modal-footer .pull-right { */
/*     position: relative; */
/*     top: 50%; */
/*     transform: translateY(-50%); */
/* } */
#table-tokens tr.mysession,
#table-sessions tr.mysession {
    font-weight: bold;
}
.clickable {
    cursor: pointer;
}
.alert-reset {
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 2%;
}
.modal-vcenter {
    display:table;
    height: 100%;
    width: 100%;
}
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}
.modal-header {
    background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
    color: #fff !important;
    opacity: 0.9;
}
.modal-header button {
    color: white;
}
.modal-content {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/* SECTIONS */
body {
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: Ubuntu, Ubuntu Light, sans-serif;
}
.content-bar {
    position: relative;
    width: 98%;
    left: 1%;
    height: 100%;
}
.header-bar {
    height: 8% !important;
    margin: 0px;
    min-height: 0px;
    width: 100% !important;
    position: relative;
}
.header-bar .logo {
    width: 10%;
    height: 90%;
    position: relative;
    top: 50% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header-bar .logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-decoration: none;
    z-index: 10;
}
.header-bar .logo img {
    width: 95%;
    position: relative;
    max-height: 95%;
    display: block;
    margin: auto;
    top: 50% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.header-bar #navbar {
    width: 90%;
    height: 90% !important;
    left: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.header-bar #navbar ul.nav {
    margin: auto !important;
    position: relative;
    height: 100%;
    display: inline-block;
}
.header-bar #navbar ul.nav li.nav {
    display: block;
    position: relative;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 1% 0%;
    height: 100%;
    width: auto;
}
.header-bar #navbar ul.nav li.nav a.nav,
.header-bar #navbar ul.nav li.nav p.nav{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
}
.header-bar #navbar .navbar-nav > .open > a,
.header-bar #navbar .navbar-nav > .open > a:hover,
.header-bar #navbar .navbar-nav > .open > a:focus {
    background-color: inherit;
    color: inherit;
}
.header-bar #navbar ul.nav li a img {
    width: 36px;
}
.container {
    height: 87%;
    width: 90%;
    left: 5%;
    position: relative;
    padding: 0px;
    margin: 0px;
}
.footer-bar {
    position: absolute;
    bottom: 0px;
    height: 5% !important;
    width: 100% !important;
    border-top: 1px solid #E5E5E5;
    overflow: hidden;
    z-index: 2;
}
.footer-bar ul {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.footer-bar span,
.footer-bar li {
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    top: 45%;
    position: relative;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.footer-bar ul span {
    padding: 0px;
}
.login-form {
    position: relative;
    width: 40%;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    height: auto;
    margin: 0px;
    margin-top: 2%;
}
.login-form img {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-bottom: 2%;
}
.login-form form {
    padding: 0% 5%;
}
.reset-form .panel-body a {
    outline: 0;
}
.wrapper {
    height: 87%;
    width: 100%;
    position: relative;
    overflow-y: auto;
}
.wrapper .alert-container {
    width: 25%;
    max-height: 25%;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    float: right;
    bottom: 0px;
    right: 0px;
    opacity: 0.9;
    border-radius: 2% 0% 0%;
    margin-right: 1%;
}
.wrapper #welcome,
.wrapper #apps,
.wrapper #profile,
.wrapper #admin {
    position: relative;
    width: 100%;
    height: 100%;
}
.wrapper #welcome .logo {
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 5% 0%;
}
.wrapper #welcome .subtitle {
    margin: 0% 2% 2% 2%;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}
.wrapper #welcome .message {
    text-align: center;
    margin: 0% 2%;
    font-size: 14px;
    letter-spacing: 1px;
}
.wrapper #profile .sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: whitesmoke;
}
.wrapper #profile .sidebar .image {
    position: relative;
    height: 40%;
    width: 100%;
    align-content: center;
    align-items: center;
    align-self: center;
}
.wrapper #profile .sidebar .image img {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    max-height: 100%;
    left: 20%;
}
.wrapper #profile .sidebar .info {
    position: relative;
    height: 53%;
    padding: 0% 5%;
}
.wrapper #profile .sidebar .info .name {
    font-size: 24px;
    margin: 0px;
    text-align: center;
    max-height: 20%;
}
.wrapper #profile .sidebar .info .title {
    height: 10%;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 1%;
}
.wrapper #profile .sidebar .info .title p{
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper #profile .sidebar .info .location {
    height: 10%;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 1%;
}
.wrapper #profile .sidebar .info .description {
    overflow-y: auto;
    height: 60%;
    font-size: 12px;
    line-height: 22px;
    padding: 1%;
}
.wrapper #profile .sidebar .social {
    position: relative;
    height: 7%;
    width: 100%;
    padding: 0% 5%;
}
.wrapper #profile .sidebar .social a {
    background-color: #3B5998;
    border-style: solid;
    color: #FFF;
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 1%;
    border-radius: 50%;
}
.wrapper #profile .sidebar .social a:hover {
    color: #3B5998;
    background-color: #FFF;    
}
.wrapper #profile .sidebar .social a i {
    margin: 20%;
}
.wrapper #profile .content {
    position: relative;
    float: left;
    width: 75%;
    height: 100%;
    background-color: whitesmoke;
}
.wrapper #profile .content .details h1 {
    text-align: center;
    margin: 7%;
}
.wrapper #profile .content .details ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
}
.wrapper #profile .content .details li {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    margin: 0% 2%;
    color: #717171;
    display: block;
    font-size: 13px;
    vertical-align: baseline;
}
.wrapper #profile .content .details li.label {
    color: black;
    position: relative;
    float: left;
    display: inline-block;
}
.wrapper #profile .content .details li span.value {
    color: black;
    position: relative;
    float: right;
    text-align: left;
}
.wrapper #admin .sidebar {
    height: 100%;
    position: relative;
    float: left;
    width: 12%;
    background: rgba(243, 243, 243, 0.8);
}
.wrapper #admin .sidebar h3 {
    text-align: center;
    text-decoration: underline;
}
.wrapper #admin .sidebar li {
    padding: 0% 2%;
}
.wrapper #admin .content {
    position: relative;
    height: 100%;
    width: 88%;
    float: left;
    padding: 1% 1% 0% 1%;
}
.wrapper #admin .content .bootstrap-table a {
    outline: 0;
    cursor: pointer !important;
}
.wrapper #admin .content .nav {
    position: relative;
    max-height: 10%;
    height:auto;
}
.wrapper #admin .content .nav a {
    outline: 0;
}
.wrapper #admin .content .tab-content {
    position: relative;
    min-height: 90%;
    height: auto;
}
.wrapper #admin .content .tab-content .active{
    visibility: visible !important;
}
.wrapper #admin .content .tab-content .tab-pane {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: block;
    visibility: hidden;
}
#AcceptApp .modal-body .title {
    margin: 5%;
    font-size: 18px;
}
#AcceptApp .modal-body .title p {
    margin: 0px;
}
#AcceptApp .modal-body .logos {
    margin: 2%;
}
#AcceptApp .modal-body .logos img {
    height: 96px;
    width: 96px;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgba(235, 235, 235, 0.8);
}
#AcceptApp .modal-body .message {
    margin: 5%;
    text-align: center;
    font-size: 16px;
}
#apps .products {
    left: 15%;
    width: 70%;
    position: relative;
    height: 100%
}
#apps .products h2 {
    border-bottom: 1px solid #ebebeb;
    clear: left;
    font-size: 1.077em;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.29;
    font-weight: bold;
    margin: 1.236em 0 .618em;
}
#apps .products ul {
    display: inline-block;
    list-style: none;
    margin: 0 0 13px;
    padding: 0;
    width: 100%;
}
#apps .products ul li {
    display: inline;
    float: left;
    line-height: 1.4;
    margin: 11px 0 .2em;
    position: relative;
    width: 50%;
}
#apps .products ul li a {
    font-weight: bold;
    line-height: 22px;
}
#apps .products ul li a img {
    float: left;
    padding: 0 1em 0 0;
    margin: 5px 0 0;
    width: 50px;
}
#apps .products ul li p {
    color: #444;
    margin: 0 2em 0 3.6em;
}

table tr .text-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

table tr .text-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-loading {
    position: relative;
}

.table-loading:before {
    content: "\f013";
    font-family: "Font Awesome 5 Free";
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    z-index: 100;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

