{% extends "admin/base.html" %}
{% block title %}Administration: Organizations{% endblock %}
{% set snactive = "organizations" %}

{% block container %}
<div class="section-header" style="height: 7%;
				   text-shadow: none !important;
				   width: 100%;
				   position: relative;
				   border-bottom: 1px solid #e7e7e7;">
  <div class="section-title" style="float: left;
				    font-size: 30px;
				    margin: 0px;
				    padding-left: 1%;
				    position: relative;
				    text-align: left;
				    top: 50%;
				    transform: translateY(-50%);
				    width: 74%;">
    <i class="fa fa-fw fa-sitemap" aria-hidden="true"></i>
    Administration: Organizations
  </div>
  <div class="section-toolbar toolbar pull-right"
       style="max-width: 24%; max-height: 85%; float: left;
	      text-align: right; padding: 0% 0.25%; margin: 0% 1%;
	      top: 50%; position: relative; transform: translateY(-50%);
	      border: 2px solid #b9b9b9; opacity: 0.6;">
    <a data-init="true" href="#switch" data-click="section-switch"
       aria-disabled="true" title="Switch"
       style="text-decoration: none; padding: 0px 5px;
	      height: 100%; color: #dedede; position: relative;">
      <em class="fa fa-2x fa-exchange-alt" style="padding: 2.5% 0%;"></em>
    </a>
    <a data-init="true" href="#fullscreen" data-click="section-fullscreen"
       aria-disabled="true" title="Fullscreen"
       style="text-decoration: none; padding: 0px 5px;
	      height: 100%; color: #dedede; position: relative;">
      <em class="fa fa-2x fa-expand-arrows-alt" style="padding: 2.5% 0%;"></em>
    </a>    
  </div>
</div>
<div class="section-refresh fade in disabled"
     style="width:100%;height:100%;opacity:0.7;background-color:#dedede;
	    position:absolute;z-index:10;display:none">
  <em class="fa fa-5x fa-spinner fa-spin"
     style="top:48%;left:48%;transform: translateY(-50%) translateX(-50%);
	    position:absolute"></em>
</div>
<div class="section-switch fade in"
     style="height: 93%; position: absolute;
	    width: 100%; z-index: 10; background: #f1f2f7;">
  <div id="orgs-list" class="list-group"
       style="width: 50%; left: 50%; position: relative;
	      transform: translateX(-50%) translateY(-50%); top: 10%;">    
  </div>
  
  <div class="switch-toolbar">
    <div class="bt-group dropup" style="position: absolute;
				 right: 0px;
				 bottom: 0px;
				 margin: 1%;
				 padding: 12px 20px;
				 border-radius: 50%;
				 background: white;
				 border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
				 border: 1px solid #ddd;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: gray;">
	<i class="fa fa-ellipsis-v"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
	<li>
	  <a href="#refresh" data-click="refresh">
	    <i class="fa fa-fw fa-sync"></i>
	    Refresh
	  </a>
	</li>
	<li role="separator" class="divider"></li>
	<li>
	  <a href="#new" data-click="new">
	    <i class="fa fa-fw fa-plus-square"></i>
	    New
	  </a>
	</li>
      </ul>
      
    </div>
  </div>
</div>

<div class="section-content fade in hidden" style="height: 93%; padding: 0.5% 0.5% 0% 0.5%;">
  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active">
      <a data-toggle="tab" href="#people">
	<i class="fa fa-fw fa-address-card"></i>
	People
      </a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" href="#groups">
	<i class="fa fa-fw fa-users"></i>
	Groups
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#explore">
	<i class="fa fa-fw fa-book-open"></i>
	Explore
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#schemas">
	<i class="fa fa-fw fa-bookmark"></i>
	Schemas
      </a>
    </li>
    <li class="disabled">
      <a data-toggle="tab" href="#mapping">
	<i class="fa fa-fw fa-map"></i>
	Mapping
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="people" class="tab-pane fade in active table-responsive-sm">
      <div id="org-people-table-toolbar">
	<div class="btn-group" id="btn-selection">
	  <button class="btn btn-primary" type="button" data-toggle="modal" data-click="people-bulk-update"
		  aria-haspopup="true" aria-expanded="false" disabled="disabled">
	    <i class="fa fa-fw fa-pencil"></i>
	  </button>
	  <button class="btn btn-danger" type="button" data-toggle="modal" data-click="people-bulk-delete"
		  aria-haspopup="true" aria-expanded="false" disabled="disabled">
	    <i class="fa fa-fw fa-trash"></i>
	  </button>
	</div>	
	<div class="btn-group" role="group" aria-label="extras">
	    <button id="org-people-bulk-add" type="button"
		    class="btn btn-light"
		    aria-haspopup="true"
		    aria-expanded="false">
	      <i class="fa fa-fw fa-code"></i>
	    </button>
	  </div>
      </div>
      <table id="table-org-people"
	     data-toolbar="#org-people-table-toolbar"
	     data-show-toggle="false" data-show-export="false"
	     data-show-columns="false" data-show-multi-sort="true"
	     data-sort-name="lastname" data-pagination="true"
	     data-toggle="table" data-search="true"
	     data-show-footer="false" data-page-size="500"
	     data-escape="false" data-maintain-selected="true"
	     data-show-refresh="true" data-icon-size="md"
	     data-response-handler="PeopleResponseHandler"
	     data-query-params="PeopleParams"
	     data-side-pagination="client"
	     class="table table-hover table-striped table-compact table-sm
		    table-condensed table-autosize">
	<thead class="thead-light">
	  <tr>
	    <th data-field="select" data-visible="true"
		data-checkbox="true">
	      <i class="fa fa-fw fa-check-square"></i>
	    </th>
	    <th data-field="lastname" data-halign="center"
		data-valign="middle" data-align="left" data-sortable="true"
		data-formatter="PeopleFormatterName">
	      <i class="fa fa-fw fa-id-badge"></i>
	      Name
	    </th>
	    <th data-field="email" data-halign="center"
		data-valign="middle" data-align="left" data-sortable="true"
		data-formatter="PeopleFormatterEmail">
	      <i class="fa fa-fw fa-envelope"></i>
	      Email
	    </th>
	    <th data-field="title" data-halign="center"
		data-valign="middle" data-align="center" data-sortable="true">
	      <i class="fa fa-fw fa-graduation-cap"></i>
	      Title
	    </th>
	    <th data-valign="middle" data-align="center" data-field="actions"
		data-formatter="PeopleFormatterActions">
	      <i class="fa fa-fw fa-sliders"></i>
	      Actions
	    </th>	  
	  </tr>
	</thead>
	<tbody></tbody>
      </table>
    </div>
    <div id="explore" class="tab-pane fade in">
      <div class="explore-items" style="width:75%;height:100%;float:left">
	<div id="toolbar-org-explore">
	  <div class="btn-group mr-2" role="group" aria-label="Basics">	  
	    <button id="org-explore-schemas" type="button"
		    class="btn btn-primary"
		    aria-haspopup="true"
		    aria-expanded="false">
	      <i class="fa fa-fw fa-bookmark"></i>
	    </button>
	    <button id="org-explore-dalete" type="button"
		    class="btn btn-danger"
		    aria-haspopup="true"
		    aria-expanded="false">
	      <i class="fa fa-fw fa-trash-alt"></i>
	    </button>
	  </div>
	  <div class="btn-group mr-2" role="group" aria-label="Extras">
	    <button id="org-explore-upload" type="button"
		    class="btn btn-light"
		    aria-haspopup="true"
		    aria-expanded="false">
	      <i class="fa fa-fw fa-file-arrow-up"></i>
	    </button>
	    <button id="org-explore-download" type="button"
		    class="btn btn-light"
		    aria-haspopup="true"
		    aria-expanded="false">
	      <i class="fa fa-fw fa-file-arrow-down"></i>
	    </button>
	  </div>
	</div>
	<table id="explore-table"
               data-show-toggle="false" data-show-export="false"
               data-show-columns="false"
	       data-toolbar="#toolbar-org-explore"
               data-sort-name="key" data-pagination="false"
               data-toggle="table" data-search="false"
               data-show-footer="false" data-page-size="100"
               data-escape="false" data-side-pagination="server"
	       data-show-refresh="false" data-row-style="rowStyle"
	       class="table table-hover table-striped table-compact 
		      table-condensed table-autosize">
	  <thead>
	    <tr>
	      <th data-field="attr" data-valign="middle"
		  data-align="left" data-sortable="true">
		<i class="fa fa-fw fa-sort-alpha-down"></i>
		Attribute
	      </th>
	      <th data-field="value" data-valign="middle"
		  data-align="left" data-sortable="false"
		  data-formatter="OrgItemFormatterValue">
		<i class="fa fa-fw fa-info"></i>
		Value
	      </th>	      
	      <th data-valign="middle" data-align="center" data-field="actions"
		  data-formatter="OrgItemFormatterActions">
		<i class="fa fa-fw fa-sliders"></i>
		Actions
	      </th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	</table>
      </div>
      <div class="explore-treeview" style="width:25%;height:100%;float:right">
	<form style="padding: 2% 0% 0% 2%;height: 7%;width:100%" autocomplete="off">
	  <div class="input-group">
	    <input type="search" id="explore-treeview-search" class="form-control" placeholder="Search" />
	    <div class="input-group-btn">
	      <button type="submit" class="btn btn-primary" id="explore-treeview-search-btn">
		<i class="fas fa-search"></i>
	      </button>
	    </div>
	  </div>
	</form>
	<div id="explore-treeview"
	     style="padding: 2% 0% 0% 2%;overflow-y:auto;height:93%;width:100%"></div>
      </div>
    </div>
    <div id="schemas" class="tab-pane fade">
      <div class="schemas-items" style="width:75%;height:100%;float:left">
	<div id="schemas-toolbar">
	  <button class="btn btn-default" type="button" data-toggle="modal"
		  data-target="#Modal" aria-haspopup="true"
		  aria-expanded="false">
	    <i class="fa fa-plus fa-fw"></i>
	  </button>
	</div>
	<table id="schemas-table" data-show-toggle="false"
	       data-show-export="false"
	       data-show-columns="false" data-show-multi-sort="true"
	       data-sort-name="display" data-pagination="true"
	       data-toggle="table" data-search="false"
	       data-toolbar="#schemas-toolbar"
	       data-show-footer="false" data-page-size="50" data-escape="false"
	       class="table table-hover table-striped table-compact table-condensed table-autosize">
	  <thead>
	    <tr>
	      <th data-field="key" data-valign="middle"
		  data-align="left" data-sortable="true">
		<i class="fa fa-fw fa-sort-alpha-down"></i>
		Attribute
	      </th>
	      <th data-field="input" data-valign="middle"
		  data-align="left" data-sortable="false">
		<i class="fa fa-fw fa-info"></i>
		Value
	      </th>
	    </tr>
	  </thead>
	  <tbody></tbody>
	</table>
      </div>
      <div class="schemas-treeview" style="width:25%;height:100%;float:right">
	<form style="padding: 2% 0% 0% 2%;height: 7%;width:100%" autocomplete="off">
	  <div class="input-group">
	    <input type="search" id="schemas-treeview-search" class="form-control" placeholder="Search" />
	    <div class="input-group-btn">
	      <button type="submit" class="btn btn-primary" id="schemas-treeview-search-btn">
		<i class="fas fa-search"></i>
	      </button>
	    </div>
	  </div>
	</form>
	<div id="schemas-treeview"
	     style="padding: 2% 0% 0% 2%;overflow-y:auto;height:93%;width:100%"></div>
      </div>
    </div>
    <div id="mapping" class="tab-pane fade in"></div>
  </div>
</div>
{% endblock %}

{% block modals %}
{% include "admin/organizations/modals/backend.html" %}
{% include "admin/organizations/modals/person.html" %}
{% include "admin/organizations/modals/schemas.html" %}
{% endblock %}

{% block scripts%}
<style>
.wrapper #admin .content {
   padding: 0px;
}
.treeview .list-group {
   margin-bottom: 0px;
   padding-right: 0.5%;
}
</style>
{% include "__include__/moment.js.html" %}
{% include "__include__/flag-icon-css.html" %}
{% include "__include__/bootstrap-table.html" %}
{% include "__include__/bootstrap-select.html" %}
{% include "__include__/bootstrap-toggle.html" %}
{% include "__include__/bootstrap-treeview.html" %}

<script>
  {% include "admin/organizations/index.js" %}
  {% include "admin/organizations/modals/backend.js" %}
  {% include "admin/organizations/modals/person.js" %}
  {% include "admin/organizations/modals/schemas.js" %}
</script>
{% endblock %}
