{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block body %}
<div id="AcceptApp" class="modal fade in">
  <div class="modal-vcenter">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-body">
	  <div class="title text-center">
	    <p style="font-size: 19px;"><strong>{{ctx.app_name}}</strong></p>
	    <p style="font-size: 17px;">({{ctx.app_desc}})</p>
	  </div>
	  <div class="logos text-center">
	    <img class="img-rounded" src="{{ g.user.avatar(96) }}" alt="{{ g.user.displayname }}">
	    <i class="fa fa-exchange fa-lg" aria-hidden="true"></i>
	    <img class="img-rounded" src="{{ctx.app_icon}}" alt="{{ ctx.app_icon }}">
	  </div>
	  <div class="message">
	    <p>Do you want to access to <strong>{{ctx.app_name}}</strong> with your <strong>Single Sign-On</strong> account?</p>
	  </div>
	  <div class="footer pull-right">
	    <a class="btn btn-default" href="{{url_for('mavapa_server.accept_app')}}?accepted=0">Cancel</a>
	    <a class="btn btn-primary" href="{{url_for('mavapa_server.accept_app')}}?accepted=1">Okay</a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts%}
  <script type="text/javascript">
    $(window).load(function(){
	$('#AcceptApp').modal('show');
    });
  </script>
{% endblock %}
