<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ config['CDN_LOCAL'] }}/img/favicon.ico" type="image/x-icon"/>
   
    <link  href="{{ config['CDN_EXTRAS'] }}/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link  href="{{ config['CDN_EXTRAS'] }}/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    
    <link  href="{{ config['CDN_EXTRAS'] }}/fontawesome/5.0.13/css/fontawesome-all.min.css" rel="stylesheet">
    
    <link href="{{ config['CDN_LOCAL'] }}/css/style.css"  rel="stylesheet">
    <link href="{{ config['CDN_LOCAL'] }}/css/mavapa.css" rel="stylesheet">    
  </head>
  <body>

    {% block navbar %}
    <nav class="header-bar navbar navbar-default navbar-static-top">
      <div class="content-bar">
	<div class="logo navbar-header">
	  <a href="{{ url_for('index') }}"></a>
	  <img src="{{ config['CDN_LOCAL'] }}/img/logo.png" alt="">
	</div>
	
	{% if session.mavapa_session %}
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li class="nav">
	      <p class="nav">{{ g.user.lastname }}, {{ g.user.firstname }}</p>
	    </li>
	    <li class="nav dropdown">
	      <a id="mavapa-apps-dropdown" href="#" class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<i class="fa fa-th fa-lg"></i>
	      </a>
	      <ul id="mavapa-apps-menu" class="dropdown-menu pull-right">
	      </ul>
	    </li>
	    <li class="nav dropdown">
	      <a id="morandu-dropdown" href="#" class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<i class="fa fa-bell fa-lg"></i>
	      </a>
	      <ul id="morandu-notify" class="dropdown-menu pull-right">
	      </ul>
	    </li>
	    <li class="nav dropdown">
	      <a href="#" class="nav dropdown-toggle" data-toggle="dropdown" href="javascript:;">
		<img class="img-circle" src="{{ g.user.avatar(48) }}">
	      </a>
	      <ul class="dropdown-menu pull-right">
		<li>
		  <a href="{{ url_for('profile') }}">
		    <i class="fa fa-user fa-fw"></i>
		    Profile
		  </a>
		</li>
		{% if g.user.admin %}
		<li>
		  <a href="{{ url_for('admin') }}">
		    <i class="fa fa-cog fa-fw"></i>
		    Administration
		  </a>
		</li>
		{% endif %}
		<li class="nav-divider"></li>
		<li>
		  <a href="{{ url_for('logout') }}">
		    <i class="fa fa-sign-out fa-fw"></i>
		    Logout
		  </a>
		</li>
	      </ul>
	    </li>
	  </ul>
	</div>
	{% endif %}
      </div>
    </nav>
    {% endblock %}

    <div class="wrapper">
      {% block body %}
      {% endblock %}

      <div class="alert-container">
	{% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-message alert-{{ category }} fade in">
	  <button type="button" class="close" data-dismiss="alert" style="outline: none;">&times;</button>
	  {% if category == 'success' %}
	  <i class="fa fa-check-circle"></i>
	  {% elif category in ['danger', 'warning'] %}
	  <i class="fa fa-exclamation-circle"></i>
	  {% else %}
	  <i class="fa fa-info-circle"></i>
	  {% endif %}
	  {{ message|safe }}
	</div>
	{% endfor%}
      </div>
      {% block modals %}{% endblock %}
    </div>

    {% block footer %}
    <div class="footer-bar">
      <div class="content-bar">
	<ul class="links">
	  <span>
	    <small>©&nbsp; 2015-2018</small>
	  </span>
	  <li>
	    <a href="{{ url_for('developers') }}"><small>Developers</small></a>
	  </li>
	  <li>
	    <a href="{{ url_for('support') }}"><small>Support</small></a>
	  </li>
	  <li>
	    <a href="{{ url_for('privacy') }}"><small>Privacy</small></a>
	  </li>
	  <li>
	    <a href="{{ url_for('terms') }}"><small>Terms</small></a>
	  </li>
	</ul>
      </div>
    </div>
    {% endblock %}
  </body>
  
  <script src="{{ config['CDN_EXTRAS'] }}/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ config['CDN_EXTRAS'] }}/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ config['CDN_LOCAL']  }}/js/scripts.js"></script>
  <script src="{{ config['CDN_LOCAL']  }}/js/mavapa.js"></script>
  {% block scripts %}
  {% endblock%}
</html>
