{% extends "base.html" %}

{% block title %}Account settings{% endblock %}

{% block body %}
<div id="welcome">
  <div class="logo">
    <img alt="" src="{{ config['CDN_MAVAPA'] }}/img/index-welcome.png"/>
  </div>
  <div class="subtitle">
    Control, protect, and secure your account, all in one place
  </div>
  <div class="message">
    Accounts gives you quick access to the settings and tools that let you safeguard your data, protect your privacy, and decide how your information can make tools and services work better for you.
  </div>
</div>
{% endblock %}
